<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - יד 2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/navbar.css" />
   
</head>
<body>
    <header>

        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(0, 0, 0, 0.05);">
            <a asp-controller="Home" asp-action="Index">
                <img src="https://assets.yad2.co.il/yad2site/y2assets/images/header/yad2Logo.png" width="100" height="59" />

            </a>


            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item navbar-toggle">
                        <a class="nav-link" asp-controller="Home" asp-action="Privacy">אודות <span class="sr-only">(current)</span></a>

                    <li class="nav-item navbar-toggle">
                        <a class="nav-link" asp-controller="Home" asp-action="Privacy">סניפים <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item navbar-toggle">
                        <a class="nav-link" asp-controller="Home" asp-action="Privacy">מוצרים <span class="sr-only">(current)</span></a>
                    </li>
                    @if (Context.User != null & Context.User.Claims != null & Context.User.Claims.Count() > 0 && User.FindFirst("isAdmin").Value == "True")
                    {
                        <li class="nav-item navbar-toggle">
                        <a class="nav-link" asp-controller="Home" asp-action="Privacy">גרפים<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item navbar-toggle">
                            <a class="nav-link" asp-controller="Users" asp-action="Index">ניהול משתמשים<span class="sr-only">(current)</span></a>
                        </li>
                    }


                    @if (Context.User != null & Context.User.Claims != null & Context.User.Claims.Count() > 0)
                    {
                        <li>
                            <div class="user"> היי , @Context.User.Identity.Name</div>
                        </li>
                        <li class="nav-item navbar-toggle">
                            <a asp-controller="Users" asp-action="Logout">
                                <button class="btn btn-m btn-outline-secondary login" type="submit"><i class="fa fa-sign-in"></i> התנתק</button>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item navbar-toggle">
                            <a asp-controller="Users" asp-action="Login">
                                <button class="btn btn-m btn-outline-secondary login" type="submit"><i class="fa fa-sign-in"></i> התחבר</button>
                            </a>
                        </li>
                    }

                    <li class="nav-item navbar-toggle">
                        <form class="form-inline my-2 my-lg-0 search-form">
                            <input class="form-control mr-sm-2" type="search" placeholder="חיפוש" aria-label="Search">

                            <button class="btn my-2 my-sm-0" type="submit">
                                <svg width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                </svg>

                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="row row-no-gutters" id="bottom-footer">

            <div class="col-xs-12 col-md-12 text-center">
                <div class="vertical-links small toggle">
                    <div class="text-center ">
                        © יד 2 - זכויות שמורות ©

                        <a class="text-reset fw-bold contact" asp-controller="Home" asp-action="Privacy">צור קשר</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
