@{
    ViewBag.Title = "About";
}
<html>

<body>

    <style>

        .gmap_canvas {
            position: center;
        }

        hr {
            border-color: #333;
        }

        h3 {
            color: #333;
            font-weight: 400;
            position: center;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }

        h4 {
            column-count: 2;
            column-gap: 40px;
            color: #333;
            font-weight: 400;
            font-style: italic;
            font-size: medium;
        }
    </style>

    <div>
        <img src="https://i.imgur.com/o9pCFEN.png" class="left" alt="car" width="1140">
    </div>

    <hr />
    <h3>You can find us at:</h3> <h4>Elie Wiesel St 2, Rishon LeTsiyon </h4>
    <div class="mapouter">
        <div class="gmap_canvas"><iframe width="1140" height="400" id="gmap_canvas" src="https://maps.google.com/maps?q=%20Elie%20Wiesel%20St%202%2C%20Rishon%20LeTsiyon&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
             </iframe>Google Maps Generator by <a href="https://www.embedgooglemap.net">embedgooglemap.net</a></div>
        <style>
            .mapouter {
                position: relative;
                text-align: right;
                height: 400px;
                width: 1140px;
            }

            .gmap_canvas {
                overflow: hidden;
                background: none !important;
                height: 400px;
                width: 1140px;
            }
        </style>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

</body>
</html>
