@{
    ViewBag.Title = "Yad2";
}
<html>
<head>
    <script src="https://weatherwidget.io/js/widget.min.js"></script>
    <style>
        .header {
            background-image: url("https://assets.yad2.co.il/yad2site/y2assets/images/pages/home/background.png");
            height: 340px;
            padding-right: 20px;
            color: #717171;
            margin-bottom: 3%;
        }

            .header > img {
                width: 250px;
            }

        body {
            text-align: right;
        }

        .header-button {
            margin-top: 28px;
        }

        .recommended-tags {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-around;
            margin: 5% 0px 5% 0px;
        }

        .tag-item {
            display: flex;
            flex-direction: column;
            border: solid 1.5px;
            border-radius: 70px;
            padding: 20px 30px;
            text-align: center;
            border-color: #cacaca;
        }

        .tag-icon {
            font-size: 210%;
        }

        .share-header {
            font-weight: 500;
            font-size: 125%;
            margin-left: 1%;
        }

        .share-container {
            align-items: center;
            display: flex;
        }
    </style>
</head>

<body>
    <div class="header">
        <img src="https://assets.yad2.co.il/yad2site/y2assets/images/header/yad2Logo.png" />
        <h3>קניות בפשטות, קלילות ומהירות</h3>
        <a type="button" class="btn btn-primary header-button" asp-area="" asp-controller="Posts" asp-action="Index">לצפייה בפוסטים</a>
    </div>
    <h3>תגיות מובילות</h3>
    <hr>
    <div class="recommended-tags">
        @foreach (var tag in ViewBag.tags)
        {
            <div class="tag-item">
                <i class="@tag.tagIcon tag-icon"></i>
                @tag.tageName
            </div>
        }
    </div>
    <h3>?מי אנחנו</h3>
    <hr>
    <video controls src="homeVideo.mp4" style="width: 60%; margin-right: 20%;"></video>
    <hr />
    <div class="share-container">
        <span class="share-header">אהבתם? נשמח לשיתוף</span>
        <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fyad-colman.herokuapp.com%2F&layout=button&size=large&width=77&height=28&appId" width="77" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
    </div>
    <a class="weatherwidget-io" href="https://forecast7.com/en/32d0934d78/tel-aviv-yafo/" data-label_1="TEL AVIV" data-label_2="WEATHER" data-font="Arial Black" data-icons="Climacons Animated" data-mode="Current" data-textcolor="#222">TEL AVIV WEATHER</a>

</body>
</html>