

@{
    ViewBag.Title = "Yad2";
}
<html>
<head>
    <style>
        h2 {
            color: #333;
            font-weight: 700;
            position: center;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            text-shadow: 2px 2px #888;
        }

        h3 {
            color: #333;
            font-weight: 400;
            position: center;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }

        h4 {
            color: #333;
            font-weight: 500;
            font-style: italic;
            font-size: large;
        }

        .cars {
            position: center;
            float: initial
        }

        hr {
            border-color: #333;
        }
    </style>
</head>

<body>



    <h2 align="center">
        Shop.Trade.Online</h2">
        <h3 align="left">Best Sellers</h3>

        <div class="cars">
            <a href="/Notices?SearchString=cars">
                <img style="float: inherit; margin: 0px 0px 15px 15px;" src="https://i.imgur.com/hIbuwhn.jpg" alt="car" width="200" height="200" id="cars">
            </a>
            <a href="/Notices?SearchString=jewllery">
                <img style="float: inherit; margin: 0px 0px 15px 15px;" src="https://i.imgur.com/L17UyvV.jpg" alt="jewllery" width="200" height="200" id="jewllery">
            </a>
            <a href="/Notices?SearchString=sports">
                <img style="float: inherit; margin: 0px 0px 15px 15px;" src="https://i.imgur.com/K4WCw0m.jpg" alt="sports" width="200" height="200" id="sports">
            </a>
            <a href="/Notices?SearchString=furniture">
                <img style="float: inherit; margin: 0px 0px 15px 15px;" src="https://i.imgur.com/WpNtAiU.jpg" alt="furniture" width="200" height="200" id="furniture">
            </a>
            <a href="/Notices?SearchString=electronics">
                <img style="float: inherit; margin: 0px 0px 15px 15px;" src="https://i.imgur.com/euxfpUW.jpg" alt="electronics" width="200" height="200">
            </a>

        </div>

        </hr>

        <br>
        <h3>And Much More!</h3>
        <hr>
        <iframe width="1140" height="500" src="https://www.youtube.com/embed/EU-eQpCqBXQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <hr />
        <h4>Log in to shop now</h4>
        <br>

        @*<script type="text/javascript">
                document.getElementById("furniture").onclick = function () {
                    location.href = "/Notices?SearchString=furniture";
                };
            </script>*@
</body>
</html>