@model IEnumerable<yad2.Models.Tags>

@{
    ViewData["Title"] = "Index";
}
<head>
    <link rel="stylesheet" href="~/css/tag.css" />
</head>
<div style="text-align:right;">
    <h1>ניהול תגיות</h1>
    <div class="flex-container">
        @foreach (var item in Model)
        {
        <div class="card border-dark mb-3">
            <div class="card-body">
                    <a asp-action="Edit" asp-route-id="@item.tagId">
                        <i class="fas fa-pen edit-icon"></i>
                    </a> 
                <p class="card-text"> @Html.DisplayFor(modelItem => item.tageName)</p>
            </div>
        </div>
        }
     </div>
</div>
<p class="create-btn">
    <a asp-action="Create">
        <i class="colored-btn fas fa-plus-circle"></i>
    </a>
</p>
