.login-form {
    width: 30%;
    margin: 7% auto;
    font-size: 15px;
}

    .login-form form {
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgb(0 0 0 / 30%);
        padding: 10%;
    }

    .login-form h2 {
        margin: 0px 0 10%;
    }

.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}

.btn {
    font-size: 15px;
    font-weight: bold;
}

.new-account {
    margin-top: 5%;
}
