.flex-container {
    display: flex;
    flex-flow: column wrap;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 5%;
}
.card-body {
    background-color: #ffa433;
    text-align: center;
}
.card {
    width: 27%;
    margin-top: 20px;
    background-color: lemonchiffon;
    margin: 2%;
}

.edit-icon {
    float: left;
    padding-left: 5px;
    cursor: pointer;
    color: #212529;
}

.create-btn {
    font-size: 250%;
    position: fixed;
    bottom: 60px;
    left: 65px;
    cursor: pointer;
}

.colored-btn {
    color: #fe5b02;
}


