.title {
    float: right;
}

.Update {
    margin-right: 16px;
    border: none;
    background: none;
    color: #1b6ec2;
}

a {
    color: #1b6ec2 !important;
    margin-right: 16px
}

.circular {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

#actions {
    width: 20%
}

#createContent {
    padding: 12px;
}

.table, .modal-title {
    direction: rtl;
}

td {
    width: 294px
}

.row {
    margin: 0 !important;
    width: 100%
}

.closeBtn {
    margin: -1rem 0 0 0 !important;
}

.content {
    direction: rtl;
    text-align: initial;
    padding-bottom: 20px
}

#createCloseBtn {
    position: fixed;
    margin-top: 12px !important;
    margin-left: 15px !important;
}

td, th, col, .modal-title {
    text-align: center
}

#checkboxLabel {
    padding-right: 20px
}

.action {
    color: #0366d6 !important;
    font-size: 20px
}

