@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Statistics Page";
}

<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.3.2/dist/chart.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>
<h1 class="title">סטטיסטיקות</h1>

<div class="chart-row">
    <div class="single-chart-bars">
        <h3>
            מודעות בתאריך
        </h3>
        <div class="chart-container">
            <canvas id="myChart"></canvas>
        </div>
    </div>
    <div class="single-chart-pie">
        <h3>
            פילוח תגיות
        </h3>
        <div class="chart-container">
            <canvas id="myChart2"></canvas>
        </div>
    </div>
</div>

<style>
    body {
        direction: rtl;
        text-align:right;
    }

    .chart-container {
    }

    .single-chart-pie {
        text-align:center;
        width: 30%;
    }

    .single-chart-bars {
        text-align: center;
        width: 50%;
    }

    .chart-row {
        display: flex;
        justify-content:space-around;
        margin-bottom: 3%;
    }
</style>

<script>

    $(document).ready(function () {
        const postsByTagsData = {
            labels: [
                'נדלן',
                'רכב',
                'מחשבים'
            ],
            datasets: [{
                label: 'My First Dataset',
                data: [],
                backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(54, 162, 235)',
                    'rgb(255, 205, 86)'
                ],
                hoverOffset: 4
            }]
        };

        const postsData = {
            labels: [],
            datasets: [
                {
                    label: 'כמות מודעות',
                    data: [],
                    borderColor: "#ffff",
                    backgroundColor: "#C70039",
                }]
        }
        const postsPerDayConf = {
            type: 'bar',
            data: postsData,
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: false,
                        text: ''
                    }
                }
            },
        };


        // Get amout of posts per day
        $.ajax({
            url: '/Stats/PostsByDate',
            type: 'get',
            success: function (data) {
                console.log(data)
                postsData.datasets[0].data = data.map(item => item.amount);
                postsData.labels = data.map(item => item.date);
                const myChart = new Chart(
                    document.getElementById('myChart'),
                    postsPerDayConf
                );
            
            }
        });



        // Get amount of posts grouped by its tags
        $.ajax({
            url: '/Stats/PostsGroupByTags',
            type: 'get',
            success: function (data) {
                console.log("sarted");
                postsByTagsData.datasets[0].data = JSON.parse(data);
                const config = { type: 'pie', data:postsByTagsData, options: {} };
               
                const myChart2 = new Chart(
                    document.getElementById('myChart2'),
                    config
                );
            }
        });
    });
</script>