@model yad2.Models.User

@{
    ViewData["Title"] = "Login";
}
<style>
    .login-form {
        width: 30%;
        margin: 7% auto;
        font-size: 15px;
    }

        .login-form form {
            background: #f7f7f7;
            box-shadow: 0px 2px 2px rgb(0 0 0 / 30%);
            padding: 10%;
        }

        .login-form h2 {
            margin: 0px 0 10%;
        }

    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }

    .btn {
        font-size: 15px;
        font-weight: bold;
    }

    .new-account {
        margin-top: 5%;
    }
</style>

<head>
    <link rel="stylesheet" href="~/css/usersTable.css" />
</head>

<div class="login-form">
    <div>
        <form asp-action="Login" asp-route-returnurl='@Context.Request.Query["ReturnUrl"]'>
            <h2 class="text-center">דף התחברות</h2>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Username" class="form-control" placeholder="שם משתמש" required="required" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Password" type="password" class="form-control" placeholder="סיסמא" required="required" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            @if (ViewBag.Error != null)
            {
                <div class="text-danger">@ViewBag.Error</div>
            }
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">התחבר</button>
                <p class="text-center new-account" id="createBtn" data-toggle="modal"><a href="#">אין לך חשבון ? </a></p>

            </div>

        </form>

    </div>
</div>

<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-url='@Url.Action("Create", "Users", new { isFromLoginPage = true, returnUrl = Context.Request.Query["ReturnUrl"] })'>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" id="createCloseBtn" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div id="createContent">
            </div>
        </div>

    </div>
</div>


    <script src="~/js/users.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script>
        $(document).ready(function () {
            $('#createBtn').click(function () {
                var url = $('#createModal').data('url');

                $.get(url, function (data) {
                    $('#createContent').html(data);

                    $('#createModal').modal('show');
                });
            });
        });

    </script>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
