@model yad2.Models.Post

@{
    Layout = null;
    ViewData["Title"] = "Delete";
}

<div class="modal-body">
    <div class="content">
        האם אתה בטוח שברצונך למחוק?
    </div>
    <div class="container">
        <div class="row">
            <div class="col col-2">
                <button type="button" class="btn btn-outline-warning" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">ביטול</span></button>
            </div>
            <div class="col col-2">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="PostID" />
                    <input type="submit" asp-route-id="@Model.PostID" value="מחק" class="btn btn-danger" />
                </form>
            </div>
        </div>
    </div>
</div>

